@font-face {
    font-family: 'cartoon';
    src: url(Chicle-Regular.ttf);
}
@font-face {
    font-family: 'inter';
    src: url(Inter-VariableFont_slnt\,wght.ttf);
}
body{
    margin-right: 0%;
    margin: 0%;
}
a{
    text-decoration: none;
    color: black;
}
/*---------------------------------------page1------------------------*/
.page1{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.titre1{
    display: flex;
    justify-content: center;
    margin-top: -1.5vw;
}
.titre1 h1{
    margin-top: 0;
    margin-bottom: 0%;
    text-align: center;
    font-family: 'cartoon';
    font-size: 15vw;
    font-weight: lighter;
}
.logo1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5vw;
}
.eclair2{
    margin-left: 5vw;
}
.eclair2 img{
    width: 40%;
}

.blob1{
    margin: 0%;
    margin-right: 47vw;
}
.blob1 img{
    width: 270%;
    transition: transform.2s;
}
.blob1 img:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.eclair1{
    margin-right: 7.5vw;
}
.eclair1 img{
    width: 162%;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'inter';
}
.t1 p{
    font-size: 1.8vw;
    margin-top: 0%;
    margin-left: 3vw;
}
.t2 p{
    font-size: 2.5vw;
    margin-left: 11vw;
    margin-top: 0%;
}
.t3 p{
    font-size: 1.8vw;
    margin-top: 0%;
    margin-right: 2vw;
}
/*---------------------------------------page2------------------------*/
.page2{
    display: flex;
    flex-direction: row;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-left: solid rgb(255, 0, 208) 3vw;
}
.titre2 h2{
    font-size: 10vw;
    font-family: 'cartoon';
    font-weight: lighter;
    margin: 0%;
    margin-top: 2vw;
    margin-left: 7vw;
    line-height: 10vw;
}
.para1 p{
    font-family: 'inter';
    font-weight: 500;
    font-size: 1.5vw;
    margin-top: 5vw;
    margin-left: 7vw;
    line-height: 2.2vw;
}
.photoaurel img{
    margin-top: 3vw;
    width: 50%;
    margin-left: 20vw;
}
.fleche1 img{
    width: 4%;
    position: absolute;
    margin-top: 43vw;
    margin-left: -2vw;
    transition: transform.2s;
}
.fleche1 img:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
/*---------------------------------------page3------------------------*/
.page3 h2{
    font-size: 12vw;
    font-family: 'cartoon';
    margin-left: -6vw;
    font-weight: 300;
    line-height: 13vw;
    transition: transform.2s;
    text-decoration: none;
}
.page3 h2:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.illustrations{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    align-items: center;
}
.page3 img{
    width: 43%;
    transition: transform.2s;
}
.page3 img:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/*---------------------------------------page4------------------------*/
.page4{
    display: flex;
    flex-direction: row;
    padding-top: 1vw;
    padding-bottom: 3vw;
    border-right: solid rgb(255, 0, 208) 3vw;
}
.titre3 h2{
    font-size: 10vw;
    font-family: 'cartoon';
    font-weight: lighter;
    margin: 0%;
    margin-top: 2vw;
    margin-left: 7vw;
    line-height: 10vw;
}
.para2 p{
    font-family: 'inter';
    font-weight: 500;
    font-size: 1.5vw;
    margin-top: 5vw;
    margin-left: 7vw;
    line-height: 2.2vw;
}
.imgcv img{
    margin-top: 3vw;
    width: 70%;
    margin-left: 15vw;
    transition: transform.2s;
}
.imgcv img:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.fleche2 img{
    position: absolute;
    width: 4%;
    margin-top: 44vw;
    margin-left: 2.7vw;
    transition: transform.2s;
}
.fleche2 img:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
/*---------------------------------------page5------------------------*/
.page5{
    border-left: solid rgb(255, 0, 208) 3vw;
    padding-bottom: 0.3vw;
}
.titre4 h2{
    font-size: 10vw;
    font-family: 'cartoon';
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1vw;
    margin-top: 0%;
}
.part1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.landing1 img{
    width: 37%;
    margin-left: 10vw;
    transition: transform.2s;
}
.landing1 img:hover{
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
.texte3 p{
    font-family: 'inter';
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 2.2vw;
    margin-left: -43vw;
}
.part2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.landing2 img{
    width: 72.5%;
    margin-top: 0.15vw;
    margin-left: 10vw;
    transition: transform.2s;
}
.landing2 img:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.landing3 img{
    margin-top: 0.15vw;
    width: 81%;
    transition: transform.2s;
}
.landing3 img:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.fleche3 img{
    position: absolute;
    width: 4%;
    margin-top: -6vw;
    margin-left: 88vw;
    transition: transform.2s;
}
.fleche3 img:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
/*---------------------------------------page6------------------------*/
.page6{
    border-right: solid rgb(255, 0, 208) 3vw;
    padding-bottom: 1vw;
}
.texte4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.titre5 h2{
    font-size: 10vw;
    font-family: 'cartoon';
    font-weight: lighter;
    margin-bottom: 1vw;
    margin-top: 0%;
}
.para3 p{
    font-family: 'inter';
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 2.2vw;
    margin-right: 3vw;
}
.todo1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ordi1 img{
    flex: 1;
    width: 65%;
    margin-left: 10vw;
    transition: transform.2s;
}
.ordi1 img:hover{
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
.tel1 img{
    flex: 1;
    width: 39%;
    margin-right: 18vw;
    transition: transform.2s;
}
.tel1 img:hover{
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
.fleche4 img{
    position: absolute;
    width: 4%;
    margin-top: -6vw;
    margin-left: 91vw;
    transition: transform.2s;
}
.fleche4 img:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
/*---------------------------------------page7------------------------*/
.page7{
    border-left: solid rgb(255, 0, 208) 3vw;
    padding-bottom: 1vw;
    margin-left: 1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.ordi234{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3vw;
}
.ordi234 img{
    width: 95%;
    transition: transform.2s;
}
.ordi234 img:hover{
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
.tel2345{
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-left: 8vw;
}
.tel2345 img{
    width: 58%;
    transition: transform.2s;
}
.tel234 img:hover{
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
.fleche5 img{
    position: absolute;
    width: 4%;
    margin-top: -5vw;
    margin-left: 87vw;
    transition: transform.2s;
}
.fleche5 img:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
/*---------------------------------------page8------------------------*/
.page8{
    display: flex;
    flex-direction: row;
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;
    border-right: solid rgb(255, 0, 208) 3vw;
}
.titre6 h2{
    font-size: 10vw;
    font-family: 'cartoon';
    line-height: 10vw;
    font-weight: lighter;
    margin-bottom: 1vw;
    margin-left: -4vw;
    transform: rotate(-90deg);
    margin-top: 11vw;
}
.para4{
    display: flex;
    flex: 1;
}
.para4 p{
    font-family: 'inter';
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 2.2vw;
    margin-top: 6vw;
    margin-left: -4vw;
}
.illustrations2{
    display: flex;
    flex: 2;
    flex-direction: column;
    margin-top: 3vw;
}
.photoshop{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -3vw;
    margin-left: -2vw;
}
.photoshop1 img{
    width: 175%;
    transition: transform.2s;
}
.photoshop1 img:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.photoshop2 img{
    width: 45.8%;
    margin-left: 14vw;
    transition: transform.2s;
}
.photoshop2 img:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.illustrator{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4vw;
    margin-left: -2vw;
}
.illustrator1 img{
    width: 70%;
    transition: transform.2s;
}
.illustrator1 img:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.illustrator2 img{
    width: 120%;
    margin-left: -5.5vw;
    transition: transform.2s;
}
.illustrator2 img:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.fleche6 img{
    width: 4%;
    position: absolute;
    margin-top: 41vw;
    margin-left: -4.5vw;
    transition: transform.2s;
}
.fleche6 img:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
/*---------------------------------------page9------------------------*/
.page9{
    padding-top: 2.2vw;
}
.titre7 h2{
    margin-top: 0;
    margin-bottom: 0%;
    text-align: center;
    font-family: 'cartoon';
    font-size: 13vw;
    font-weight: lighter;
}
.logo2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3vw;
}
.t4 p{
    font-size: 1.5vw;
    margin-left: 2vw;
    margin-top: 0%;
    margin-bottom: 0%;
}
.t5 p{
    font-size: 2.2vw;
    margin-top: 0%;
    margin-right: 2vw;
    margin-bottom: 0%;
}
.t6 p{
    font-size: 1.5vw;
    margin-top: 0%;
    margin-right: 6vw;
    margin-bottom: 0%;
}
/* ------------------------------------responsive--------------------------------*/

@media (max-width:1000px){
body{
    margin: 0%;
    padding: 0%;
}

.fleche1{
    opacity: 0%;
}
.fleche2{
    opacity: 0%;
}
.fleche3{
    opacity: 0%;
}
.fleche4{
    opacity: 0%;
}
.fleche5{
    opacity: 0%;
}
.fleche6{
    opacity: 0%;
}
.eclair2 img{
    opacity: 0%;
}
.eclair1 img{
    opacity: 0%;
}
.t1 p{
    opacity: 0%;
    font-size: 4vw;
}
.t2 p{
    margin-left: -32vw;
    font-size: 4vw;
}
.t3 p{
    font-size: 4vw;
}
.page2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre2 h2{
    text-align: center;
    margin-bottom: 3vw;
}
.photoaurel img{
    width: 120%;
    margin-left: -3vw;
}
.illustrations img{
    width: 60%;
    margin-left: -2vw;
}
.illustrations h2{
    font-size: 17vw;
    line-height: 18vw;
    margin-right: 5vw;
}
.page4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vw;
}
.titre3 h2{
    text-align: center;
}
.para2 p{
    margin-right: 2.5vw;
}
.imgcv img{
    margin: 0%;
    width: 110%;
}
.page5{
    display: flex;
    flex-direction: column;
    padding-bottom: 5vw;
}
.part1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing1 img{
    margin-left: 10vw;
    width: 80%;
    margin-bottom: 1vw;
}
.texte3 p{
    margin-left: -1vw;
}
.part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing2 img{
    width: 80%;
    margin-bottom: 1vw;
}
.landing3 img{
    width: 80%;
    margin-left: 10vw;
}
.page6{
    padding-bottom: 5vw;
}
.texte4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.para3 p{
    margin-bottom: 3vw;
}
.todo1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ordi1 img{
    width: 80%;
}
.tel1 img{
    width: 40%;
    margin-left: 30vw;
}
.page8{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vw;
}
.titre6 h2{
    transform: rotate(0deg);
}
.para4 p{
    margin-bottom: 3vw;
}
.photoshop{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photoshop1 img{
    width: 90%;
    margin-left: 5vw;
}
.photoshop2 img{
    margin-top: 3vw;
    margin-left: 28vw;
}
.illustrator{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.illustrator1 img{
    margin-left: 15vw;
    margin-bottom: 3vw;
}
.illustrator2 img{
    width: 70%;
    margin-left: 15vw;
}
.page9{
    padding-bottom: 2vw;
}
.t4 p{
    font-size: 1.5vw;
}
.t5 p{
    font-size: 0.1vw;
    opacity: 0%;
}
.t6 p{
    font-size: 1.5vw;
}
}